<div id="accordion" class="plugin">
<h1 class="plugin__title">Accordion</h1>
<!-- CODE -->
<p class="plugin__description">- CODE / 기본</p>
<div class="code">
<div class="code__language">HTML</div>
<pre>
<code class="html">
  &lt;ul class="pualugin-accordion" data-element="accordion"&gt;
    &lt;li class="pualugin-accordion__item" data-element="accordion__item"&gt;
      &lt;a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor"&gt;
        accordion__anchor1
      &lt;/a&gt;
      &lt;div class="pualugin-accordion__panel" data-element="accordion__panel"&gt;
        아코디언 내용입니다.
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class="pualugin-accordion__item" data-element="accordion__item"&gt;
      &lt;a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor"&gt;
        accordion__anchor2
      &lt;/a&gt;
      &lt;div class="pualugin-accordion__panel" data-element="accordion__panel"&gt;
        아코디언 내용입니다.
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class="pualugin-accordion__item" data-element="accordion__item"&gt;
      &lt;a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor"&gt;
        accordion__anchor3
      &lt;/a&gt;
      &lt;div class="pualugin-accordion__panel" data-element="accordion__panel"&gt;
        아코디언 내용입니다.
      &lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</code>
</pre>
</div>
<!-- CODE -->

<!-- RESULT -->
<p class="plugin__description">- RESULT</p>
<div class="pualugin-result">
  <ul class="pualugin-accordion" data-element="accordion">
    <li class="pualugin-accordion__item" data-element="accordion__item">
      <a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor">accordion__anchor1</a>
      <div class="pualugin-accordion__panel" data-element="accordion__panel">
          아코디언 내용입니다.
      </div>
    </li>
    <li class="pualugin-accordion__item" data-element="accordion__item">
      <a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor">accordion__anchor2</a>
      <div class="pualugin-accordion__panel" data-element="accordion__panel">
          아코디언 내용입니다.
      </div>
    </li>
    <li class="pualugin-accordion__item" data-element="accordion__item">
      <a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor">accordion__anchor3</a>
      <div class="pualugin-accordion__panel" data-element="accordion__panel">
          아코디언 내용입니다.
      </div>
    </li>
  </ul>
</div>
<!-- //RESULT -->

<!-- CODE -->
<p class="plugin__description">- CODE / 옵션 추가</p>
<div class="code">
<div class="code__language">HTML</div>
<pre>
<code class="html">
  &lt;ul class="pualugin-accordion" data-element="accordion" data-options='{ "autoFold": false }'&gt;
    &lt;li class="pualugin-accordion__item" data-element="accordion__item"&gt;
      &lt;a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor"&gt;accordion__anchor1&lt;/a&gt;
      &lt;div class="pualugin-accordion__panel" data-element="accordion__panel"&gt;
        아코디언 내용입니다.
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class="pualugin-accordion__item" data-element="accordion__item"&gt;
      &lt;a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor"&gt;accordion__anchor2&lt;/a&gt;
      &lt;div class="pualugin-accordion__panel" data-element="accordion__panel"&gt;
        아코디언 내용입니다.
      &lt;/div&gt;
    &lt;/li&gt;
    &lt;li class="pualugin-accordion__item" data-element="accordion__item"&gt;
      &lt;a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor"&gt;accordion__anchor3&lt;/a&gt;
      &lt;div class="pualugin-accordion__panel" data-element="accordion__panel"&gt;
        아코디언 내용입니다.
      &lt;/div&gt;
    &lt;/li>
  &lt;/ul>
</code>
</pre>
</div>
<!-- //CODE -->

<!-- RESULT -->
<div class="pualugin-result">
  <p class="plugin__description">- RESULT</p>
  <ul class="pualugin-accordion" data-element="accordion" data-options='{ "autoFold": false }'>
    <li class="pualugin-accordion__item" data-element="accordion__item">
      <a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor">accordion__anchor1</a>
      <div class="pualugin-accordion__panel" data-element="accordion__panel">
        아코디언 내용입니다.
      </div>
    </li>
    <li class="pualugin-accordion__item" data-element="accordion__item">
      <a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor">accordion__anchor2</a>
      <div class="pualugin-accordion__panel" data-element="accordion__panel">
        아코디언 내용입니다.
      </div>
    </li>
    <li class="pualugin-accordion__item" data-element="accordion__item">
      <a href="#" class="pualugin-accordion__anchor" data-element="accordion__anchor">accordion__anchor3</a>
      <div class="pualugin-accordion__panel" data-element="accordion__panel">
        아코디언 내용입니다.
      </div>
    </li>
  </ul>
</div>
<!-- //RESULT -->
</div>