<div id="sticky" class="plugin">
    <h1>Plugin - Sticky</h1>
    <section class="section">

        <div class="pualugin-sticky">
            <section class="pualugin-sticky__section" data-js="sticky">
                <div class="pualugin-sticky__header" data-js="sticky__header">
                    <h1 class="pualugin-sticky__target" data-js="sticky__target">Section1</h1>
                </div>
            </section>
            <section class="pualugin-sticky__section" data-js="sticky">
                <div class="pualugin-sticky__header" data-js="sticky__header">
                    <h1 class="pualugin-sticky__target" data-js="sticky__target">Section2</h1>
                </div>
            </section>
            <section class="pualugin-sticky__section" data-js="sticky">
                <div class="pualugin-sticky__header" data-js="sticky__header">
                    <h1 class="pualugin-sticky__target" data-js="sticky__target">Section3</h1>
                </div>
            </section>
            <section class="pualugin-sticky__section" data-js="sticky">
                <div class="pualugin-sticky__header" data-js="sticky__header">
                    <h1 class="pualugin-sticky__target" data-js="sticky__target">Section4</h1>
                </div>
            </section>
        </div>

    </section>
</div>