<div id="tooltip" class="plugin">
    <h1>Plugin - Tooltip & Popover</h1>
    <h2>Tooltip</h2>
    <section class="section">
        <div class="pualugin-tooltip" data-js="tooltip">
            <button class="pualugin__button" type="button" data-js="tooltip__button">Tooltip - right</button>
            <div class="pualugin-tooltip__panel" data-js="tooltip__panel">
                xnfxlq sodyddlqslek.
            </div>
        </div>

        <div class="pualugin-tooltip" data-js="tooltip" data-options='{ "position": "left" }'>
            <button class="pualugin__button" type="button" data-js="tooltip__button">Tooltip - left</button>
            <div class="pualugin-tooltip__panel" data-js="tooltip__panel">
                xnfxlq sodyddlqslek.
            </div>
        </div>

        <div class="pualugin-tooltip" data-js="tooltip" data-options='{ "position": "top" }'>
            <button class="pualugin__button" type="button" data-js="tooltip__button">Tooltip - top</button>
            <div class="pualugin-tooltip__panel" data-js="tooltip__panel">
                xnfxlq sodyddlqslek.
            </div>
        </div>

        <div class="pualugin-tooltip" data-js="tooltip" data-options='{ "position": "bottom" }'>
            <button class="pualugin__button" type="button" data-js="tooltip__button">Tooltip - bottom</button>
            <div class="pualugin-tooltip__panel" data-js="tooltip__panel">
                xnfxlq sodyddlqslek.
            </div>
        </div>
    </section>
</div>