<section id="modal" class="plugin">
  <h1>Checkbox</h1>
  <!-- CODE -->
  <p class="plugin__description">- CODE / 기본</p>
  <div class="code">
    <div class="code__language"><i class="fas fa-code"></i> HTML</div>
    <pre>
<code class="html">
  &lt;label class="pualugin-checkbox"&gt;
    &lt;input type="checkbox" class="pualugin-checkbox__input"&gt;
    &lt;i class="pualugin-checkbox__icon fas fa-check"&gt;&lt;/i&gt;
    &lt;span class="pualugin-checkbox__text"&gt;동의합니다.&lt;/span&gt;
  &lt;/label&gt;
</code>
</pre>
  </div>
  <!-- CODE -->

  <!-- RESULT -->
  <p class="plugin__description">- RESULT</p>
  <div class="pualugin-result">
    <div data-element="checkbox">
      <div data-element="checkbox__section">
        <label class="pualugin-checkbox">
          <input type="checkbox" class="pualugin-checkbox__input" data-element="checkbox__input" disabled>
          <i class="pualugin-checkbox__icon fas fa-check"></i>
          <span class="pualugin-checkbox__text">동의합니다.</span>
        </label>
        <br>
        <label class="pualugin-checkbox">
          <input type="checkbox" class="pualugin-checkbox__input" data-element="checkbox__input">
          <i class="pualugin-checkbox__icon fas fa-check"></i>
          <span class="pualugin-checkbox__text">동의합니다.</span>
        </label>
        <br>
        <label class="pualugin-checkbox">
          <input type="checkbox" class="pualugin-checkbox__input" data-element="checkbox__input">
          <i class="pualugin-checkbox__icon fas fa-check"></i>
          <span class="pualugin-checkbox__text">동의합니다.</span>
        </label>
        <br>
        <label class="pualugin-checkbox">
          <input type="checkbox" class="pualugin-checkbox__input" data-element="checkbox__all">
          <i class="pualugin-checkbox__icon fas fa-check"></i>
          <span class="pualugin-checkbox__text">전체선택</span>
        </label>
      </div>
    </div>
  </div>
  <!-- //RESULT -->
</section>