<div id="tab" class="plugin">
    <h1>Plugin - tab</h1>
    <div class="plugin__flex">
        <div class="plugin__flex-column">
            <h2 class="plugin__column-title">Default</h2>
            <div class="pualugin-tab" data-js="tab">
                <ul class="pualugin-tab__ul">
                    <li class="pualugin-tab__list" data-js="tab__list">
                        <a href="#" class="pualugin-tab__anchor" data-js="tab__anchor">tab-anchor1</a>
                    </li>
                    <li class="pualugin-tab__list" data-js="tab__list">
                        <a href="#" class="pualugin-tab__anchor" data-js="tab__anchor">tab-anchor2</a>
                    </li>
                    <li class="pualugin-tab__list" data-js="tab__list">
                        <a href="#" class="pualugin-tab__anchor" data-js="tab__anchor">tab-anchor3</a>
                    </li>
                </ul>
                <div class="pualugin-tab__panel" data-js="tab__panel"> tab-panel1 </div>
                <div class="pualugin-tab__panel" data-js="tab__panel"> tab-panel2 </div>
                <div class="pualugin-tab__panel" data-js="tab__panel"> tab-panel3 </div>
            </div>
        </div>
        <div class="plugin__flex-column">
            <h2 class="plugin__column-title">initIndex: 1</h2>
            <div class="pualugin-tab" data-js="tab" data-options='{ "initIndex": 1 }'>
                <ul class="pualugin-tab__ul">
                    <li class="pualugin-tab__list" data-js="tab__list">
                        <a href="#" class="pualugin-tab__anchor" data-js="tab__anchor">tab-anchor1</a>
                    </li>
                    <li class="pualugin-tab__list" data-js="tab__list">
                        <a href="#" class="pualugin-tab__anchor" data-js="tab__anchor">tab-anchor2</a>
                    </li>
                    <li class="pualugin-tab__list" data-js="tab__list">
                        <a href="#" class="pualugin-tab__anchor" data-js="tab__anchor">tab-anchor3</a>
                    </li>
                </ul>
                <div class="pualugin-tab__panel" data-js="tab__panel"> tab-panel1 </div>
                <div class="pualugin-tab__panel" data-js="tab__panel"> tab-panel2 </div>
                <div class="pualugin-tab__panel" data-js="tab__panel"> tab-panel3 </div>
            </div>
        </div>
    </div>
</div>