@charset "utf-8";
/*
** Index Layout
*/
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}

body {
    padding: 20px;
    background-color: #F2F3F8;
}

.pualugin {
}
.pualugin__header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    box-sizing: border-box;
    background-color: #2c2e3e;
}
.pualugin__logo {
    padding: 20px;
    font-size: 20px;
    color: #fff;
}
.pualugin__nav-anchor {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #9b9ca3;
}
.pualugin__contents {
    padding-left: 200px;
    width: calc( 100% - 200px );
}


/*
** Plugin CSS
*/

/* Accordion */
.pualugin-accordion {
}

.pualugin-accordion__item {
    box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.04);
}

.pualugin-accordion__item + .pualugin-accordion__item {
    margin-top: 5px;
}

.pualugin-accordion__anchor {
    padding: 25px 20px;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    display: block;
    color: #000;
}
.pualugin-accordion__panel {
    padding: 20px;
    background-color: #fff;
}
/* // Accordion */

/* Tab */
.pualugin-tab__ul {
    width: 100%;
    display: table;
}
.pualugin-tab__list {
    display: table-cell;
}
.pualugin-tab__anchor {
    padding: 20px 10px;
    position: relative;
    display: block;
    text-align: center;
}
.pualugin-tab__anchor.is-active:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #716aca;
    content: '';
}
.pualugin-tab__panel {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(24, 28, 33, 0.04);
    border-radius: 0 0 3px 3px;
}
/* // Tab */

/* Sticky */
.pualugin-sticky__section {
    height: 500px;
}
.pualugin-sticky__target {
    margin-bottom: 0;
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
}
/* // Sticky */